[general]
domain = empty.local
seoUri = false
title = false

[db]
adapter = mysql
cache = false
host = localhost
username = empty
password = empty
dbname   = empty

[lang]
front = ru
admin = ru

[view]
scriptPath = application/views

[upload]
path = www/data/upload

[ckeditor]
uploadPath = fck

[proxy]
path = ipv4:port
auth = user:pass